.page{
  height:100vh;
  width:100vw;
  background-color: lightskyblue;
}

.form-contents{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.click-upload{
  background-color:lightgray;
}

.form{
  height: 30px;
  width: 450px;
  border: 1px, solid;
  margin-bottom:10px;
  background-color:lightgray;
  display: block;
}

.text-form{
  height: 300px;
  width: 450px;
  border: 1px, solid;
  margin-bottom: 10px;
  background-color:lightgray;
  display:block;
}